@import "../../styles/styles"; 


.branch-form {
  width: 100%;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-flow: column;
  
  li {
    list-style: none;
  }

  .form-actions {
    margin-top : 2rem;
  }
}