
@import '../../styles/base';


#tree-app{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: visible;
  flex-flow: row wrap;

  
  @supports (-webkit-overflow-scrolling: touch) {
    position: fixed;
  	top: 0;
  	right:0;
  	bottom:0;
  	left: 0;
  	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;  
  }
  
  .layout{
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    @include breakpoint(md) {
      flex-flow: column wrap;
    }
    position: relative;
    // @if($isLocal){border: 1px dashed yellow;}
    header {
      h4{
       margin-left: 2rem; 
      }
      
    }
  }
  
  .tree-container{
    flex: 1 auto;
    order: 1;
    //display: flex;
    flex-flow: column wrap;
    margin: $topMargin 0; 
    // @if($isLocal){border: 1px dashed cyan;}
    width : 100%;
    overflow: visible; // some layouts may allow for 
    height: auto; // makes sure they fill the space

    @include breakpoint(md) {
      flex: 1 1 55%;
      width : 55%;
    }
   
    .tree-contents {
      flex-flow: column;
    }
    .tree-actions{
      flex: 1;
      width: 100%;
    }
  }

  .gutter{
    flex: 1;
    order: 2;
    // display: flex;
    flex-flow: column wrap;
    overflow: visible; // some layouts may allow for 
    height: auto; // makes sure they fill the space
    margin: $topMargin 0; 
    // @if($isLocal){border:1px dashed rgb(93, 173, 39);}

    width : 100%;
    @include breakpoint(md) {
      flex: 1 1 45%;
      width : 45%;
    }
    
    .overview{
      flex : 1;
      position: relative;
      margin: .5rem;
      padding: .5rem;
      font-size: .65rem;
      p {
        font-size: .65rem;
      }
      li {
        margin-left: 1rem;
      }
    }
  }
  
}
