// place varialbes here that you want to overide ui-core _values

$isLocal:false!default;

//---------------
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
    xs: 320px, // normal-res phones
    sm: 480px, // higher res phones
    md: 768px, // tablets
    lg: 950px, // laptops, desktops
    xl: 1200px,// highres desktop/wide monitors
    xxl: 1800px // kiosk
);

$topMargin:35px;

// colors
$primary:lightblue;
$secondary:#1e67a3;
$secondaryTwo:rgba(87, 155, 251, 1);
