// one stop shop to import all the sass files rather than individually

@import "config"; // grabs config for unique variables
@import "mixins";
@import "responsive";

html {
  box-sizing: border-box;
  overflow: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  position: relative;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; // give smooth scroll on iOS
  margin: 0;
  line-height: 1.618rem;
  
  font-family: "Roboto", sans-serif ;
  
  @include breakpoint(xs) {
    font-size: 14px !important;
  }
  @include breakpoint(sm) {
    font-size: 14px !important;
  }
  @include breakpoint(md) {
    font-size: 16px !important;
  }
  @include breakpoint(lg) {
    font-size: 16px !important;
  }
  @include breakpoint(xl) {
    font-size: 18px !important;
  }
  @include breakpoint(xxl) {
    font-size: 24px !important;
  }   
}

body {
  overflow: visible; // leverage main scroll
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p{
  color: #343436; // 
}

h1{
  color: #777474;
}

h2{
  color: $secondary;
}

h3{
  color: $secondaryTwo;
}
h4{
  color: #e9eaeb;
}